<div class="w3-card">
    <header class="w3-container w3-padding w3-theme">
        Categorias
    </header>
    <nav class="w3-bar-block">
        {% if include.selected == "Todas" %}
            <span class="w3-bar-item w3-theme-l1">Todas</span>
        {% else %}
            <a class="w3-bar-item w3-button" href="{{ '/' | relative_url }}/">Todas</a>
        {% endif %}
        {% for category in site.categories %}
            {% assign item = category | first %}
            {% if include.selected == item %}
                <span class="w3-bar-item w3-theme-l1">{{ item }}</span>
            {% else %}
                <a class="w3-bar-item w3-button" href="{{ '/category/' | relative_url }}{{ item }}">{{ item }}</a>
            {% endif %}
        {% endfor %}
    </nav>
</div>
