---
layout: default
---
{% assign paginator = page.paginator %}

<section class="w3-row">
    <section class="w3-threequarter">
        {% for post in paginator.posts limit:paginator.per_page %}
            <article>
                <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <small>{{ post.date }}</small>
                <p>{{ post.excerpt }} </p>
                <hr>
            </article>
        {% endfor %}
        {% include paginator.html %}
    </section>

    <section class="w3-quarter">
        {% include categories.html %}
    </section>
</section>
