<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ site.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' type='text/css' media='screen' href='{{ site.baseurl }}/css/w3-theme-black.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ site.baseurl }}/css/highlight.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ site.baseurl }}/css/custom.css'>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
    <header class="w3-theme w3-container w3-padding">
        <div class="center">
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <strong>{{ site.description }}</strong>
        </div>
    </header>
    <nav class="w3-container w3-bar w3-theme-l1">
        <div class="center">
            <a class="w3-bar-item w3-button w3-right" href="https://github.com/LVRodrigues?tab=packages&repo_name=repository">Pacotes</a>
            <a class="w3-bar-item w3-button w3-right" href="{{ site.baseurl }}/howto/">Como Usar</a>
            <a class="w3-bar-item w3-button w3-right" href="{{ site.baseurl }}/feed.xml">RSS</a>
        </div>
    </nav>

    <main class="w3-container w3-padding center" >
        {{ content }}
    </main>

    <footer class="w3-container w3-padding w3-theme-l5 w3-small w3-center">
        <p>Produzido por <a href="https://lvrodrigues.github.io">Luciano Vieira Rodrigues</a></p>
        <p>Repositório do GitHub: <a href="https://github.com/LVRodrigues/repository">LVRodrigues/repository</a></p>
        <p>Publicado em 08/03/2022</p>
    </footer>
</body>
</html>